<h1>Table</h1>

<ngx-datatable
  [selectionType]="type"
  [rows]="rows"
  [columns]="columns"
  columnMode="force"
  (select)="select($event)"
>
  <ngx-datatable-column
    [width]="40"
    [draggable]="false"
    [resizeable]="false"
    [canAutoResize]="false"
    [headerCheckboxable]="false"
    [checkboxable]="true"
    headerClass="text-center"
    cellClass="text-center"
  >
  </ngx-datatable-column>

  <ngx-datatable-column name="Link">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      {{ row.typeName }}: {{ row.role }}
      <span>
        <button class="optionButton" type="button" data-toggle="modal" data- 
target="#addOption">Reserve Product</button>
     </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
